<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quoting Dojo</title>
  </head>
  <body>
    <h1> Welcome to QuotingDojo</h1>
    <form action = "/quotes" method = "post">
      <p> Your name:</p>
      <input type = "text" name = "name">
      <p> Your Quote:</p>
      <textarea name = "quote" id = "" rows="6" cols = "40"></textarea>
      <input type = "submit" value = "Add my Quote!">
    </form>
      <a href="/quotes">Skip to the Quotes!</a>
  </body>
</html>
